# Reverse gitignore - explicitly include files
*
!*/
!.gitignore
!.editorconfig

# Source code and build script
!.github/**
!gradle/**
!src/**

# Resource generation
!resources/*.py

# Images
!img/*.png

# Metadata
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE.md
!HEADER.txt
!README.md