name: Build

on:
  push:
    tags: ['v*']

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Get the version
        id: get_version
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            return '${{ github.ref }}'.replace('refs/tags/v', '');
      - name: Build
        run: ./gradlew build
        env:
          VERSION: ${{ steps.get_version.outputs.result }}
          OFFICIAL_MAPPINGS: true
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.get_version.outputs.result }}-forge
          release_name: Primal Winter 1.18.2-${{ steps.get_version.outputs.result }}
          body: |
            [This was an automatic build]
            // todo: add changelog
          draft: true
          prerelease: false
      - name: Upload Forge Jar
        id: upload_forge_jar
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Forge/build/libs/primalwinter-forge-1.18.2-${{ steps.get_version.outputs.result }}.jar
          asset_name: primalwinter-forge-1.18.2-${{ steps.get_version.outputs.result }}.jar
          asset_content_type: application/java-archive
      - name: Upload Fabric Jar
        id: upload_fabric_jar
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Fabric/build/libs/primalwinter-fabric-1.18.2-${{ steps.get_version.outputs.result }}.jar
          asset_name: primalwinter-fabric-1.18.2-${{ steps.get_version.outputs.result }}.jar
          asset_content_type: application/java-archive
